.sidebarchat {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarchat:hover {
    background-color: #ebebeb;
}

.sidebarchat__info {
    margin-left: 15px;
}

.sidebarchat__info>h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarchat__info>p {
    color: gray;
    font-size: 16px;
}