.sidebar {
    flex: 0.35;
    display: flex;
    flex-direction: column;
}

.grey {
    color: grey;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid lightgrey;
}

.sidebar__header___right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__header___right>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px;
}

.sidebar__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
    justify-content: center;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 35px;
    background-color: white;
}

.sidebar__chat a {
    text-decoration: none;
    color: black;
}

.sidebar__searchContainer>input {
    outline-style: none;
    margin-left: 10px;
    border: none;
}

.sidebar__searchContainer>.MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}

.sidebar__chat {
    flex: 1;
    background-color: white;
    overflow: scroll;
}


/*.avatar {
    background-color: red !important;
}*/